################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Testy/LogikaTest/.vs/LogikaTest/FileContentIndex/3231b28e-6533-4e10-8b41-a75a8e2d5100.vsidx
